*{
    margin: 0;
    box-sizing: border-box;
}

p {
    word-break: break-all;
    white-space: normal;
}

html{
    min-height: 100%
}

body{
    height: 100%;
    background-color: rgb(248, 248, 248);
}

h1{
    padding: 0 0 0 1rem;
}

header{
    text-align: center;
    font-size: 5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: RGBA(200, 235, 255, 10);
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



#barra_busqueda{
    height: 2rem;
    width: 70vw;
    padding: 0 1rem;
}



#lista_productos{
    width: 70vw;
    height: 90vh;
    overflow: auto;
}

.producto{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    background-color: rgb(223, 231, 238);
    margin: 1rem 0;
    height: 10rem;
}

.contenedor_img_producto, .contenedor_img_mercado{
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.contenedor_img_producto img, .contenedor_img_mercado img{
    object-fit: cover;
    object-position: 50% 50%;
}

.contenedor_img_mercado img{
    width: 80%;
}

.contenedor_img_producto img{
    height: 90%;
    max-width: 90%;
}

.contenedor_precio div span, .contenedor_oferta div span{
    font-weight: 900;
}

.contenedor_oferta div span{
    color: rgb(238, 61, 61);
}

.contenedor_oferta div, .contenedor_precio div{
    text-align: center;
}

.contenedor_precio, .contenedor_oferta, .contenedor_nombre{
    color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
}

.oculto{
    display: none;
}


@media screen and (max-width: 1080px) {
    #lista_productos{
        width: 90vw;
    }

    #barra_busqueda{
        width: 90vw;
    }
}

@media screen and (max-width: 760px) {
    #lista_productos{
        width: 100vw;
    }

    #barra_busqueda{
        width: 100vw;
    }
    .producto{
        grid-template-columns: 1.5fr 2fr 1fr 1fr 1fr;
        min-width: 60rem;
    }
}